@page "/categorydetails"
@using Model
@using BlazorExpenseTracker.UI.Interfaces
@inject ICategoryService CategoryService

<h1>CategoryDetails</h1>

<EditForm Model="@category" OnValidSubmit="SaveCategory" OnInvalidSubmit="Error">
    <DataAnnotationsValidator/>
    @*<ValidationSummary/>*@
    <table class="table">
        <tr>
            <td>Name</td>
            <td><input type="text" @bind="category.Name"/></td>
        </tr>
        <tr>
            <td colspan="2"><ValidationMessage For="@(() => category.Name)"></ValidationMessage> </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">
                <input type="submit" value="Save"/>
                <input type="button" value="Cancel"/>
            </td>
        </tr>
    </table>
</EditForm>

@code {
    Category category = new Category();

    protected async void SaveCategory()
    {
        await CategoryService.SaveCategory(category);
    }

    protected void Error()
    {
        
    }
}
