@page "/expensetracker"
@using BlazorExpenseTracker.UI.Components

<h3>ExpenseTracker</h3>
<TabControl>
    <TabTitle>
        <img src="images/@(context.ImageSource).png" width="16" height="16"/>
        @context.Text
    </TabTitle>
    <ChildContent>
        <TabPage Text="Expense" ImageSource="minus-circle">
            <ExpenseDetails ExpenseType="@Model.ExpenseType.Expense"></ExpenseDetails>
        </TabPage>
        <TabPage Text="Income" ImageSource="plus-circle">
            <ExpenseDetails ExpenseType="@Model.ExpenseType.Income"></ExpenseDetails>
        </TabPage>
    </ChildContent>
</TabControl>


@code {

}
