@page "/expensetracker"
@implements IDisposable

<h3>ExpenseTracker</h3>
<CascadingValue Value="expense">
    <TabControl>
        <TabTitle>
            <img src="images/@(context.ImageSource).png" width="16" height="16"/>
            @context.Text
        </TabTitle>
        <ChildContent>
            <TabPage Text="Expense" ImageSource="minus-circle">
                <ExpenseDetails ExpenseType="@ExpenseType.Expense"></ExpenseDetails>
            </TabPage>
            <TabPage Text="Income" ImageSource="plus-circle">
                <ExpenseDetails ExpenseType="@ExpenseType.Income"></ExpenseDetails>
            </TabPage>
        </ChildContent>
    </TabControl>
    <ExpenseHistory></ExpenseHistory>
</CascadingValue>

@code {
    public Expense expense;

    protected override Task OnInitializedAsync()
    {
        expense = new Expense();
        expense.OnSelectedExpenseChanged += StateHasChanged;
        return base.OnInitializedAsync();
    }

    public void Dispose()
    {
        expense.OnSelectedExpenseChanged -= StateHasChanged;
    }

}